@charset "UTF-8";
body {
  font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
  margin: 0;
  padding: 0;
  min-width: 1226px;
  width: 1919px;
  οnscrοll: "savePos();" οnlοad="loadPos();" MS_POSITIONING= "GridLayout";
}

body input {
  background: none;
  outline: none;
  border: 0px;
}

body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body a {
  text-decoration: none;
}

.header {
  width: 1919px;
}

.img-topbar {
  height: 120px;
  background-color: #fff;
  background: url("https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/a2a9e6db5e3c5374301827435d8595c6.jpg?w=5120&h=240") no-repeat;
  background-size: auto 120px;
  background-position: 50%;
}

.site-topbar {
  height: 40px;
  min-width: 1226px;
  background-color: #333;
  /* text-align: center; */
}

.site-topbar ul.service {
  list-style-type: none;
  width: 1226px;
  margin: 0 auto;
  padding: 0;
  color: #b0b0b0;
  font-size: 12px;
}

.site-topbar ul.service li {
  display: inline-block;
  line-height: 40px;
  padding: 0 7px;
  border-left: 1px solid #423c37;
}

.site-topbar ul.service li:hover {
  color: white;
}

.site-topbar ul.service li:nth-child(1) {
  padding: 0;
  padding-right: 7px;
  border: none;
}

.site-topbar ul.service li:nth-last-child(-n + 4) {
  float: right;
}

.site-topbar ul.service li:nth-last-child(1) {
  border: none;
}

.site-topbar ul.service li:nth-last-child(4) {
  position: relative;
  height: 40px;
  width: 120px;
  background-color: #424242;
  padding: 0;
  margin-left: 18px;
  margin-bottom: -2px;
  text-align: center;
  border-left-width: 0;
  z-index: 3;
}

.site-topbar ul.service li:nth-last-child(4):hover {
  background-color: white;
  color: #f95643;
}

.site-topbar ul.service li:nth-last-child(4):hover div.shopping-cart {
  max-height: 100px;
  transition: max-height 0.3s;
}

.site-topbar ul.service li:nth-last-child(4) div.shopping-cart {
  position: absolute;
  width: 316px;
  max-height: 0;
  height: 100px;
  background-color: red;
  top: 100%;
  right: 0;
  background-color: #ffffff;
  z-index: 2;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  color: #424242;
}

.site-topbar ul.service li.app-download {
  position: relative;
}

.site-topbar ul.service li.app-download::after {
  content: '';
  display: none;
  position: absolute;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top: none;
  border-bottom-color: #fff;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.site-topbar ul.service li.app-download:hover::after {
  display: block;
  height: 148px;
}

.site-topbar ul.service li.app-download:hover .APP-store {
  display: block;
  height: 148px;
}

.site-topbar ul.service li.app-download .APP-store {
  position: absolute;
  left: -35px;
  width: 124px;
  height: 0;
  overflow: hidden;
  line-height: 1;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: height 0.3s;
  z-index: 9999;
}

.site-topbar ul.service li.app-download .APP-store img {
  width: 90px;
  margin: 17px;
  margin-bottom: 10px;
}

.site-topbar ul.service li.app-download .APP-store span {
  font-size: 14px;
  color: #000;
}

div.site-header {
  width: 100%;
  height: 100px;
  position: relative;
  z-index: 999;
}

div.site-header div.container {
  width: 1226px;
  height: 100px;
  margin: 0 auto;
}

div.site-header div.container .header-logo {
  float: left;
  margin-top: 22px;
  width: 55px;
  height: 55px;
  position: relative;
  overflow: hidden;
  text-indent: -9999px;
}

div.site-header div.container .header-logo a {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 0;
  background-color: #FF6700;
  background-image: url(https://s02.mifile.cn/assets/static/image/mi-logo.png);
  background-position: center;
  transition: left 0.3s;
}

div.site-header div.container .header-logo .home {
  background-image: url(https://s02.mifile.cn/assets/static/image/mi-home.png);
  left: -55px;
}

div.site-header div.container .header-logo:hover .mi {
  left: 55px;
}

div.site-header div.container .header-logo:hover .home {
  left: 0;
}

div.site-header div.container .header-nav {
  width: 850px;
  float: left;
  margin-top: 27px;
}

div.site-header div.container .header-nav ul.menu {
  list-style: none;
  padding-left: 190px;
}

div.site-header div.container .header-nav ul.menu li {
  box-sizing: border-box;
  display: inline-block;
  line-height: 50px;
  font-size: 16px;
  font-weight: normal;
  padding: 20px 20px 41px 0;
  margin-left: -4px;
  margin: -20px 0 -31px -4px;
  transition: color 0.2s;
}

div.site-header div.container .header-nav ul.menu li:nth-child(-n + 7):hover ~ .good-info {
  height: 228px;
  border-top: 1px solid #e0e0e0;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.2);
  transition: height 0.4s;
}

div.site-header div.container .header-nav ul.menu li:hover:nth-child(1) ~ .good-info section:nth-child(1),
div.site-header div.container .header-nav ul.menu li:hover:nth-child(2) ~ .good-info section:nth-child(2),
div.site-header div.container .header-nav ul.menu li:hover:nth-child(3) ~ .good-info section:nth-child(3),
div.site-header div.container .header-nav ul.menu li:hover:nth-child(4) ~ .good-info section:nth-child(4),
div.site-header div.container .header-nav ul.menu li:hover:nth-child(5) ~ .good-info section:nth-child(5),
div.site-header div.container .header-nav ul.menu li:hover:nth-child(6) ~ .good-info section:nth-child(6),
div.site-header div.container .header-nav ul.menu li:hover:nth-child(7) ~ .good-info section:nth-child(7) {
  display: block;
  z-index: 999;
}

div.site-header div.container .header-nav ul.menu li:hover {
  color: #ff6700;
}

div.site-header div.container .header-nav ul.menu div.good-info {
  height: 228px;
  height: 0;
  overflow: hidden;
  width: 100%;
  background-color: #ffffff;
  position: absolute;
  top: 100px;
  left: 0px;
  transition: height 0.4s;
  z-index: 9999;
}

div.site-header div.container .header-nav ul.menu div.good-info section {
  display: none;
  height: 100%;
  margin-left: 347px;
}

div.site-header div.container .header-nav ul.menu div.good-info section div {
  float: left;
  margin: 0;
}

div.site-header div.container .header-nav ul.menu div.good-info section div.img {
  width: 203px;
  height: 100%;
}

div.site-header div.container .header-nav ul.menu div.good-info section div.img img {
  display: inline-block;
  margin: 35px 22px 14px 22px;
}

div.site-header div.container .header-nav ul.menu div.good-info section div.img p {
  text-align: center;
  margin: 0 auto;
  font-size: 12.63px;
  color: #333;
}

div.site-header div.container .header-nav ul.menu div.good-info section div.img p:nth-last-child(1) {
  color: #ff6700;
}

div.site-header div.container .header-nav ul.menu div.good-info section div.line {
  display: block;
  width: 1px;
  height: 100px;
  background-color: #e0e0e0;
  margin-top: 35px;
}

div.site-header div.container .header-nav ul.menu div.good-info section:hover {
  display: block;
  z-index: 99999;
}

div.site-header div.container .header-nav ul.menu div.good-info:hover {
  height: 228px;
  border-top: 1px solid #e0e0e0;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.2);
}

div.site-header div.container .header-nav ul.menu div.good-info:hover section {
  display: block;
  z-index: 999;
}

div.site-header div.container .header-search {
  width: 296px;
  height: 50px;
  margin-top: 25px;
  margin-left: -100px;
  float: right;
}

div.site-header div.container .header-search:hover .search-btn, div.site-header div.container .header-search:hover .search-inp {
  border-color: #b0b0b0;
}

div.site-header div.container .header-search .search-inp {
  box-sizing: border-box;
  width: 244px;
  float: left;
  padding: 0 10px;
  height: 50px;
  font-size: 16px;
  border: 1px solid #e0e0e0;
}

div.site-header div.container .header-search .search-inp:focus {
  border-color: #FF6700;
}

div.site-header div.container .header-search .search-inp:focus + button {
  border-color: #FF6700;
}

div.site-header div.container .header-search .search-btn {
  border: 0;
  float: left;
  height: 50px;
  width: 50px;
  padding: 0;
  background-color: #fff;
  color: #616161;
  font-size: 16px;
  border: 1px solid #e0e0e0;
  border-left: none;
}

div.site-header div.container .header-search .search-btn:hover {
  background-color: #FF6700;
  color: white;
  border: none;
}

div.home-hero {
  margin: 0 auto;
  width: 1226px;
  height: 460px;
  position: relative;
  z-index: 3;
}

div.site-category {
  position: relative;
  height: 460px;
  width: 234px;
  font-size: 14px;
  float: left;
  z-index: 40;
}

ul.category {
  height: 420px;
  border: 0;
  color: #fff;
  background: rgba(105, 101, 101, 0.6);
  margin: 0;
  padding: 20px 0;
  list-style: none;
}

ul.category li.category-item {
  display: block;
  padding-left: 30px;
  height: 42px;
  line-height: 42px;
}

ul.category li.category-item span.fa {
  float: right;
  display: inline-block;
  font-size: 1.5em;
  margin-right: 24px;
  margin-top: 10px;
}

ul.category li.category-item:hover {
  background-color: #ff6700;
}

ul.category li.category-item ul {
  display: none;
  box-sizing: border-box;
  padding: 0;
  position: absolute;
  height: 460px;
  width: 992px;
  background-color: orange;
  top: 0px;
  left: 234px;
  border: 1px solid #e0e0e0;
  border-left: none;
  border-right: none;
}

ul.category li.category-item ul li {
  background-color: white;
  color: #333;
  height: 76px;
  width: 248px;
}

ul.category li.category-item ul li:nth-child(6n + 7) {
  margin-top: -456px;
}

ul.category li.category-item ul li:not(:nth-child(1)) {
  display: none;
}

ul.category li.category-item ul li a {
  display: inline-block;
  padding: 18px 20px;
  color: #424242;
  width: 209px;
}

ul.category li.category-item ul li img {
  line-height: 76px;
  vertical-align: middle;
}

ul.category li.category-item ul li span {
  display: inline-block;
  margin-left: 9px;
}

ul.category li.category-item ul li:nth-child(n + 7) {
  margin-left: 248px;
}

ul.category li.category-item ul li:nth-child(n + 13) {
  margin-left: 496px;
}

ul.category li.category-item ul li:nth-child(n + 19) {
  margin-left: 744px;
}

ul.category li.category-item ul li:nth-child(n + 25) {
  margin-left: 992px;
}

ul.category li.category-item:hover ul {
  display: block;
}

section.radio-slider {
  width: 100%;
  height: 100%;
}

section.radio-slider input {
  display: none;
}

section.radio-slider ul.slides {
  width: 100%;
  height: 100%;
  position: relative;
}

section.radio-slider ul.slides li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 1s;
}

section.radio-slider ul.slides li img {
  width: 100%;
  height: 100%;
  display: block;
}

section.radio-slider ul.slides li label {
  width: 41px;
  text-align: center;
  line-height: 69px;
  font-weight: lighter;
  color: #a9a9ac;
}

section.radio-slider ul.slides li label:nth-last-child(2) {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 234px;
  height: 69px;
  margin: auto;
}

section.radio-slider ul.slides li label:nth-last-child(2):hover {
  background-color: #0c0c11;
  color: white;
}

section.radio-slider ul.slides li label:nth-last-child(1) {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 69px;
  margin: auto;
}

section.radio-slider ul.slides li label:nth-last-child(1):hover {
  background-color: #0c0c11;
  color: white;
}

section.radio-slider input:nth-child(1):checked ~ ul.slides li:nth-child(1),
section.radio-slider input:nth-child(2):checked ~ ul.slides li:nth-child(2),
section.radio-slider input:nth-child(3):checked ~ ul.slides li:nth-child(3),
section.radio-slider input:nth-child(4):checked ~ ul.slides li:nth-child(4),
section.radio-slider input:nth-child(5):checked ~ ul.slides li:nth-child(5) {
  z-index: 8;
  opacity: 1;
}

section.radio-slider div.indicators {
  position: absolute;
  z-index: 20;
  bottom: 15px;
  right: 26px;
  padding: 5px;
}

section.radio-slider div.indicators label {
  display: inline-block;
  margin: 0 3px;
  width: 5px;
  height: 5px;
  border: 2px solid #fff;
  border-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.4);
  opacity: 1;
}

section.radio-slider input:nth-child(1):checked ~ div label:nth-child(1),
section.radio-slider input:nth-child(2):checked ~ div label:nth-child(2),
section.radio-slider input:nth-child(3):checked ~ div label:nth-child(3),
section.radio-slider input:nth-child(4):checked ~ div label:nth-child(4),
section.radio-slider input:nth-child(5):checked ~ div label:nth-child(5) {
  background: rgba(255, 255, 255, 0.4);
  border-color: rgba(0, 0, 0, 0.4);
}

div.home-hero-sub {
  height: 170px;
  width: 1226px;
  margin: 14px auto;
  margin-bottom: 26px;
  font-size: 0;
  overflow: hidden;
}

div.home-hero-sub ul.home-hero-sub-content {
  display: flex;
  height: 170px;
  justify-content: space-between;
}

div.home-hero-sub ul.home-hero-sub-content li {
  width: 316px;
  height: 170px;
}

div.home-hero-sub ul.home-hero-sub-content li img {
  width: 316px;
  height: 170px;
}

div.home-hero-sub ul.home-hero-sub-content li.message {
  height: 100%;
  width: 234px;
}

div.home-hero-sub ul.home-hero-sub-content li.message ul {
  height: 170px;
  margin: 0;
  padding: 3px;
  list-style-type: none;
  font-size: 12px;
  text-align: center;
  background-color: #5f5750;
  color: white;
}

div.home-hero-sub ul.home-hero-sub-content li.message ul li {
  position: relative;
  float: left;
  width: 70px;
  height: 82px;
  padding: 0 3px;
  opacity: .7;
  transition: opacity .2s;
}

div.home-hero-sub ul.home-hero-sub-content li.message ul li img {
  width: 24px;
  height: 24px;
  display: block;
  padding: 24px;
}

div.home-hero-sub ul.home-hero-sub-content li.message ul li span {
  display: block;
  margin-top: -22px;
}

div.home-hero-sub ul.home-hero-sub-content li.message ul li::before {
  top: -1px;
  left: 6px;
  width: 64px;
  height: 1px;
  position: absolute;
  content: "";
  background: #665e57;
}

div.home-hero-sub ul.home-hero-sub-content li.message ul li::after {
  top: 6px;
  left: 0;
  width: 1px;
  height: 70px;
  position: absolute;
  content: "";
  background: #665e57;
}

div.home-hero-sub ul.home-hero-sub-content li.message ul li:hover {
  opacity: 1;
  color: white;
}

div.page-main {
  padding-top: 4px;
  padding-bottom: 12px;
  background-color: #f5f5f5;
}

div.container {
  width: 1226px;
  margin-right: auto;
  margin-left: auto;
}

div.container h2.title {
  margin: 0;
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
  background-color: #f5f5f5;
}

div.container div.home-banner-box {
  height: 120px;
  margin: 22px 0;
  overflow: hidden;
}

div.flashSale {
  width: 1226px;
  height: 398px;
  margin-bottom: 22px;
  position: relative;
}

div.flashSale div.time {
  height: 340px;
  width: 234px;
  border-top-width: 1px;
  border-top-style: solid;
  background: #f1eded;
  text-align: center;
  float: left;
}

div.flashSale div.time div.round {
  font-size: 21px;
  color: #ef3a3b;
  padding-top: 55px;
}

div.flashSale div.time img {
  display: inline-block;
  margin: 25px 0;
}

div.flashSale div.time div.end-time {
  color: rgba(0, 0, 0, 0.54);
  font-size: 15px;
}

div.flashSale div.time div.countdown {
  width: 168px;
  margin: 28px auto 0;
}

div.flashSale div.time div.countdown span {
  width: 46px;
  height: 46px;
  background: #605751;
  color: #fff;
  font-size: 24px;
  line-height: 46px;
  float: left;
}

div.flashSale div.time div.countdown i {
  width: 15px;
  float: left;
  height: 46px;
  line-height: 46px;
  color: #605751;
  font-size: 28px;
  font-style: normal;
}

div.flashSale-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

div.flashSaleList {
  height: 340px;
  width: 978px;
  margin: 0 auto;
  position: relative;
  list-style: none;
  padding: 0;
  z-index: 1;
  float: left;
  margin-left: 14px;
}

div.flashSaleList input {
  display: none;
}

div.flashSaleList input:nth-child(1):checked ~ div ul {
  left: 0;
}

div.flashSaleList input:nth-child(1):checked ~ div section:nth-child(1) {
  display: block;
}

div.flashSaleList input:nth-child(2):checked ~ div ul {
  left: -993px;
}

div.flashSaleList input:nth-child(2):checked ~ div section:nth-child(2) {
  display: block;
}

div.flashSaleList input:nth-child(3):checked ~ div ul {
  left: -1989px;
}

div.flashSaleList input:nth-child(3):checked ~ div section:nth-child(3) {
  display: block;
}

div.flashSaleList div.content-wrapper {
  width: 978px;
  height: 340px;
  overflow: hidden;
  position: relative;
}

div.flashSaleList ul.content {
  height: 340px;
  width: 2976px;
  position: absolute;
  top: 0;
  transition: all 1.1s;
}

div.flashSaleList ul.content li {
  padding: 0;
  width: 234px;
  border-top-width: 1px;
  border-top-style: solid;
  display: inline-block;
  text-align: center;
  background: #fff;
  position: relative;
  margin-right: 14px;
  margin-left: -3px;
}

div.flashSaleList ul.content li:first-child {
  margin-left: -2px;
}

div.flashSaleList ul.content li:last-child {
  margin-right: 0;
}

div.flashSaleList ul.content li a {
  display: block;
  height: 300px;
  padding-top: 39px;
  position: relative;
}

div.flashSaleList ul.content li a div.thumb {
  display: block;
  width: 160px;
  margin: 0 auto 22px;
}

div.flashSaleList ul.content li a div.thumb img {
  width: 160px;
  height: 160px;
}

div.flashSaleList ul.content li a h3.title {
  margin: 0 20px 3px;
  font-size: 14px;
  font-weight: 400;
  text-overflow: ellipsis;
  color: #212121;
  overflow: hidden;
  white-space: nowrap;
}

div.flashSaleList ul.content li a p.desc {
  height: 18px;
  margin: 0 20px 12px;
  font-size: 12px;
  text-overflow: ellipsis;
  color: #b0b0b0;
  overflow: hidden;
  white-space: nowrap;
}

div.flashSaleList ul.content li a p.price {
  margin: 0;
  color: #ff6709;
}

div.flashSaleList ul.content li a p.price del {
  color: #b0b0b0;
}

div.flashSaleList div.indicators {
  position: absolute;
  right: 0;
  top: -30px;
}

div.flashSaleList div.indicators section {
  display: none;
}

div.flashSaleList div.indicators section:nth-child(1) label:nth-child(1),
div.flashSaleList div.indicators section:nth-last-child(1) label:nth-last-child(1) {
  color: #e0e0e0;
}

div.flashSaleList div.indicators label.pre, div.flashSaleList div.indicators label.next {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 16px;
  padding: 3px 5px;
  margin-left: -4px;
  border: 1px solid #e0e0e0;
  font-size: 24px;
  line-height: 16px;
  transition: color .5s;
  color: #b0b0b0;
  text-align: center;
  overflow: hidden;
}

div.flashSaleList div.indicators label.pre:hover, div.flashSaleList div.indicators label.next:hover {
  color: #ff6700;
}

div.flashSaleList div.indicators label.pre span, div.flashSaleList div.indicators label.next span {
  position: absolute;
  bottom: 1px;
}

div.home-appliance {
  width: 1226px;
  height: 672px;
  background-color: #bfa;
}

div.television {
  position: relative;
  height: 614px;
}

div.television span.active {
  right: 0;
  top: -40px;
  position: absolute;
  display: inline-block;
  padding: 0;
  transition: all .3s;
  border-bottom: 2px solid transparent;
  font-size: 16px;
}

div.television span.active:nth-child(1) {
  right: 50px;
  margin-right: 42px;
  color: #ff6700;
  border-bottom: 2px solid #ff6700;
}

div.television span.active:hover {
  color: #ff6700;
  border-bottom: 2px solid #ff6700;
  transition: border .3s;
}

div.television span.active:nth-child(1):hover ~ div.span16 ul:nth-child(2) {
  display: none;
}

div.television span.active:nth-child(2):hover ~ div.span16 ul:nth-child(2) {
  display: block;
}

div.television span.active:nth-child(2):hover ~ div.span16 ul:nth-child(1) {
  display: none;
}

div.television ul li {
  position: relative;
  z-index: 1;
  float: left;
  width: 234px;
  margin-bottom: 14px;
  transition: all .2s linear;
  background-color: #fff;
}

div.television ul li:hover {
  z-index: 2;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  transform: translate3d(0, -2px, 0);
}

div.television ul li a {
  display: block;
  width: 100%;
  height: 300px;
}

div.television ul li a div {
  width: 160px;
  height: 160px;
  padding-top: 20px;
}

div.television ul li a div.small {
  margin: 0 auto 18px;
}

div.television ul li a div img.small {
  width: 160px;
  height: 160px;
}

div.television ul li a img.big {
  height: 300px;
  width: 234px;
}

div.television ul li a h3.title {
  margin: 0 10px 2px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  white-space: nowrap;
}

div.television ul li a p.desc {
  margin: 0 10px 10px;
  height: 18px;
  font-size: 12px;
  color: #b0b0b0;
  text-align: center;
}

div.television ul li a p.price {
  margin: 0 10px 14px;
  text-align: center;
  color: #ff6700;
}

div.television ul li.span16-li {
  margin-left: 14px;
}

div.television ul li.span16-li:nth-last-child(-n + 2) {
  height: 93px;
  padding-top: 50px;
}

div.television ul li.span16-li:nth-last-child(-n + 2) div {
  position: absolute;
  right: 20px;
  top: 32px;
  width: 80px;
  height: 80px;
}

div.television ul li.span16-li:nth-last-child(-n + 2) div img {
  width: 80px;
  height: 80px;
}

div.television ul li.span16-li:nth-last-child(-n + 2) h3 {
  margin: -10px 110px 5px 30px;
}

div.television ul li.span16-li:nth-last-child(-n + 2) p {
  margin: 0 110px 0 30px;
  font-size: 12px;
  color: #ff6700;
}

div.television ul li.span16-li:nth-last-child(1) {
  height: 93px;
  padding-top: 50px;
}

div.television ul li.span16-li:nth-last-child(1) div.browse {
  display: block;
  margin: 0 110px 0 30px;
  font-size: 18px;
  color: #333;
}

div.television ul li.span16-li:nth-last-child(1) div.browse small {
  display: block;
  font-size: 12px;
  color: #757575;
}

div.television ul li.span16-li:nth-last-child(1) div.angle-right {
  position: absolute;
  right: 35px;
  top: 30px;
  width: 48px;
  height: 48px;
  color: #ff6700;
}

div.television ul li.span16-li:nth-last-child(1) div.angle-right span {
  font-size: 58px;
  line-height: 48px;
}

div.television ul:nth-child(1) {
  z-index: 1;
}

div.television ul:nth-child(2) {
  display: none;
  z-index: 2;
}

div.span4 {
  width: 234px;
  float: left;
  min-height: 1px;
}
