* {
  /* margin: 0; */
  background-color: rgba(250, 128, 114, 0.2);
}

/* 表布局
table{
  margin: 100px auto;
  border-collapse: collapse;
}

td{
  width: 150px;
  height: 150px;
  text-align: center;
  font-size: 22px;
  border: 3px solid pink;
}

tr td:hover{
  background-color: azure;
  border-color: azure;
} */

main{
    margin: 100px auto;
    position: relative;
    width: 462px;
    height: 462px;
}

div{
  width: 150px;
  height: 150px;
  text-align: center;
  font-size: 22px;
  border: 3px solid pink;
  line-height: 150px;
  margin: 0;
  position: absolute;
}

div:nth-child(1){
  left: 0;
  top : 0;
}
div:nth-child(2){
  left: 153px;
  top : 0;
}
div:nth-child(3){
  left: 306px;
  top : 0;
}
div:nth-child(4){
  left: 0;
  top : 153px;
}
div:nth-child(5){
  left: 153px;
  top : 153px;
}
div:nth-child(6){
  left: 306px;
  top : 153px;
}
div:nth-child(7){
  left: 0;
  top : 306px;
}
div:nth-child(8){
  left: 153px;
  top : 306px;
}
div:nth-child(9){
  left: 306px;
  top : 306px;
}

div:hover{
  background-color: azure;
  border-color: azure;
}
